.services {
  padding-block: 50px;
  /* height: 100svh; */
}

.services p {
  font-family: "Manrope", "serif";
}

.services h1 {
  color: var(--main);
  margin-block: 12px;
  font-size: 60px;
}

.services_gallery {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* modal style */
.modal {
  width: 50%;
  height: 350px;
  border-radius: 14px;
  background: var(--main);
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.modal img {
  width: 100%;
  border-radius: 14px;
  transition: all 0.4s linear;
  object-fit: cover;
  height: 100%;
}

.services_gallery_list {
  font-family: "Manrope", "sans-serif";
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  padding-inline: 4px;
}

.services_gallery_list li {
  padding-block: 12px;
  margin-bottom: 4px;
  padding-inline: 4px;
  cursor: pointer;
  border-bottom: 1px solid var(--gray);
}

.services_gallery_list li:last-child {
  border-bottom: none;
}


.service_link{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: all .2s linear;
}

.service_link:hover {
  color: gray; /* Change text color to gray on hover */
}

.service_link .service-name,
.service_link .price {
  transition: transform 0.3s ease; /* Smooth transition for the translate effect */
}

.service_link:hover .service-name {
  transform: translateX(-10px); /* Move the name slightly left */
}

.service_link:hover .price {
  transform: translateX(10px); /* Move the price slightly right */
}

.services_gallery_list li p {
  padding-left: 4px;
  text-decoration: none;
  color: var(--main);
}

/* media queries */
@media (min-width: 640px) {
  .services_gallery_list li p {
    font-size: 20px;
    padding-left: 12px;
    font-weight: 400;
  }

  .services_gallery{
    gap: 14px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .modal{
    height: 500px;
  }

}

@media (min-width: 1024px) {
    .services_gallery_list li p {
      font-size: 32px;
      padding-left: 12px;
      font-weight: 400;
    }

    .services h1{
      font-size: 80px;
    }
  }
